<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启扫描 并启动注解-->
    <!-- spring4后这个可以不写，只写下面即可 <context:annotation-config></context:annotation-config> -->
    <!--<context:component-scan base-package="com"></context:component-scan>-->

    <bean id="dao" class="com.prd.dao.SpringCoreDemoDaoImpl" p:id="xxx">
        <property name="name" value="pangrd" />
    </bean>

    <!-- 注解和xml可以配合使用 -->
    <bean id="service" class="com.prd.service.SpringCoreDemoService" c:dao-ref="dao">
        <property name="dao" ref="dao" />
    </bean>

</beans>